<!DOCTYPE html>
<html lang="en">

<head>
    <title>More Recipes - Search Result</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
    <link rel='stylesheet' href="src/assets/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href="src/assets/kitchen-font/flaticon.css">
    <link rel="stylesheet" href="src/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="src/css/style.css">
</head>

<body class="search-recipes">
    <!-- NAVIGATION -->
    <header>
        <nav class="navbar navbar-toggleable-xl navbar-light bg-faded" data-toggle="affix" id="more-recipes-navbar">
            <a class="navbar-brand hidden-md-down" href="index-user.html">MORE RECIPES</a>
            <a class="navbar-brand hidden-lg-up" id="navbar-brand-right" href="index-user.html">MORE RECIPES</a>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <form class="hidden-sm-down form-inline mx-2 my-auto d-inline" id="search-form">
                    <div class="input-group input-group">
                        <label class="sr-only" for="search">Search for Recipes</label>
                        <input type="text" class="form-control" id="search" placeholder="Search for Recipes">
                        <span class="input-group-btn">
                  <button type="submit" class="btn search-btn"><i class="fa fa-search"></i></button>
                </span>
                    </div>
                </form>
                <ul class="navbar-nav ml-auto">
                    <li class="hidden-xs-down nav-item text-left">
                        <a class="nav-link" href="top-recipes-user.html">TRENDING</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index-user.html"><i class="fa fa-home"></i></a>
                    </li>
                    <li class="nav-item justify-content-start notifications-link">
                        <a class="nav-link" href="#" title="Notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell fa-lg"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="container-fluid">
                                <p>You have a new review</p>
                                <div class="dropdown-divider"></div>
                                <p>3 people viewed your recipe</p>
                                <div class="dropdown-divider"></div>
                                <p>Review your security details</p>
                                <div class="dropdown-divider"></div>
                                <p>Chef Steve just posted a new recipe</p>
                                <div class="dropdown-divider"></div>
                                <p>1 person added your recipe to their favorites</p>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="nav-profile-picture-div rounded-cirle menu-dropdown d-inline">
                            <a class="nav-link " href="#" title="Profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="src/images/user1.jpg" class="rounded-cirle" alt="User"> Jane</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="user-profile.html">Profile</a>
                                <a class="dropdown-item" href="javascript:void(0)">Edit Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="user-profile.html">My Recipes</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)">Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)">Log out</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link menu-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-reorder fa-lg"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item add-recipe" href="#add-edit-modal" data-toggle="modal" title="New Recipe">Add a Recipe</a>
                            <a class="dropdown-item" href="search-recipes-user.html">All Recipes</a>
                            <a class="dropdown-item get-favorites" href="user-profile.html">Favorite Recipes</a>
                            <a class="dropdown-item" href="top-recipes-user.html">Top Recipes</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- CONTENT -->
    <div class="container-fluid pb-5 background-grey page-margin" id="search-result-wrapper">
        <div class="heading pt-4 text-center" id="search-result-heading">
            <div class="col-xs-12 col-md-12 pt-3" id="title">
                <h5>SEARCH RESULT FOR RICE RECIPES</h5>
            </div>
        </div>
        <hr>
        <div class="row pt-2 px-5" id="search-result">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mt-4 recipe-card">
                <a href="#">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="src/images/jollof-rice-img.jpg" alt="recipe-image">
                        <div class="card-block text-center pb-0">
                            <h5 class="card-title mb-1">Jollof Rice and Chicken</h5>
                            <p class="card-text mb-2"><span class="text-muted">Posted by </span><a href="#">@janesmith</a></p>
                        </div>
                        <div class="card-block text-center recipe-details">
                            <p class="card-text text-muted mr-2 inline-p"><i class="aria-hidden fa fa-clock-o"></i> 45 minutes</p>
                            <p class="card-text text-muted mr-0 inline-p"> | </p>
                            <p class="card-text text-muted inline-p"><i class="aria-hidden flaticon flaticon-oven-kitchen-tool-for-cooking-foods"></i> A Bit Difficult</p>
                        </div>
                        <div class="card-footer text-center text-muted px-2 recipe-rating">
                            <p class="card-text text-muted mr-2 inline-p"><i class="aria-hidden fa fa-star"></i> 4.5</p>
                            <p class="card-text text-muted mr-2 inline-p"> | </p>
                            <p class="card-text text-muted mr-2 inline-p"><i class="aria-hidden fa fa-heart"></i> 200</p>
                            <p class="card-text text-muted mr-2 inline-p"> | </p>
                            <p class="card-text text-muted mr-2 inline-p"><i class="text-success aria-hidden fa fa-eye"></i> 350</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mt-4 recipe-card">
                <a href="#">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="src/images/jollof-rice-img.jpg" alt="recipe-image">
                        <div class="card-block text-center pb-0">
                            <h5 class="card-title mb-1">Jollof Rice and Chicken</h5>
                            <p class="card-text mb-2"><span class="text-muted">Posted by </span><a href="#">@janesmith</a></p>
                        </div>
                        <div class="card-block text-center recipe-details">
                            <p class="card-text text-muted mr-2 inline-p"><i class="aria-hidden fa fa-clock-o"></i> 45 minutes</p>
                            <p class="card-text text-muted mr-0 inline-p"> | </p>
                            <p class="card-text text-muted inline-p"><i class="aria-hidden flaticon flaticon-oven-kitchen-tool-for-cooking-foods"></i> A Bit Difficult</p>
                        </div>
                        <div class="card-footer text-center text-muted px-2 recipe-rating">
                            <p class="card-text text-muted mr-2 inline-p"><i class="aria-hidden fa fa-star"></i> 4.5</p>
                            <p class="card-text text-muted mr-2 inline-p"> | </p>
                            <p class="card-text text-muted mr-2 inline-p"><i class="aria-hidden fa fa-heart"></i> 200</p>
                            <p class="card-text text-muted mr-2 inline-p"> | </p>
                            <p class="card-text text-muted mr-2 inline-p"><i class="text-success aria-hidden fa fa-eye"></i> 350</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mt-4 recipe-card">
                <a href="#">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="src/images/jollof-rice-img.jpg" alt="recipe-image">
                        <div class="card-block text-center pb-0">
                            <h5 class="card-title mb-1">Jollof Rice and Chicken</h5>
                            <p class="card-text mb-2"><span class="text-muted">Posted by </span><a href="#">@janesmith</a></p>
                        </div>
                        <div class="card-block text-center recipe-details">
                            <p class="card-text text-muted mr-2 inline-p"><i class="aria-hidden fa fa-clock-o"></i> 45 minutes</p>
                            <p class="card-text text-muted mr-0 inline-p"> | </p>
                            <p class="card-text text-muted inline-p"><i class="aria-hidden flaticon flaticon-oven-kitchen-tool-for-cooking-foods"></i> A Bit Difficult</p>
                        </div>
                        <div class="card-footer text-center text-muted px-2 recipe-rating">
                            <p class="card-text text-muted mr-2 inline-p"><i class="aria-hidden fa fa-star"></i> 4.5</p>
                            <p class="card-text text-muted mr-2 inline-p"> | </p>
                            <p class="card-text text-muted mr-2 inline-p"><i class="aria-hidden fa fa-heart"></i> 200</p>
                            <p class="card-text text-muted mr-2 inline-p"> | </p>
                            <p class="card-text text-muted mr-2 inline-p"><i class="text-success aria-hidden fa fa-eye"></i> 350</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mt-4 recipe-card">
                <a href="#">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="src/images/jollof-rice-img.jpg" alt="recipe-image">
                        <div class="card-block text-center pb-0">
                            <h5 class="card-title mb-1">Jollof Rice and Chicken</h5>
                            <p class="card-text mb-2"><span class="text-muted">Posted by </span><a href="#">@janesmith</a></p>
                        </div>
                        <div class="card-block text-center recipe-details">
                            <p class="card-text text-muted mr-2 inline-p"><i class="aria-hidden fa fa-clock-o"></i> 45 minutes</p>
                            <p class="card-text text-muted mr-0 inline-p"> | </p>
                            <p class="card-text text-muted inline-p"><i class="aria-hidden flaticon flaticon-oven-kitchen-tool-for-cooking-foods"></i> A Bit Difficult</p>
                        </div>
                        <div class="card-footer text-center text-muted px-2 recipe-rating">
                            <p class="card-text text-muted mr-2 inline-p"><i class="aria-hidden fa fa-star"></i> 4.5</p>
                            <p class="card-text text-muted mr-2 inline-p"> | </p>
                            <p class="card-text text-muted mr-2 inline-p"><i class="aria-hidden fa fa-heart"></i> 200</p>
                            <p class="card-text text-muted mr-2 inline-p"> | </p>
                            <p class="card-text text-muted mr-2 inline-p"><i class="text-success aria-hidden fa fa-eye"></i> 350</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mt-4 recipe-card">
                <a href="#">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="src/images/jollof-rice-img.jpg" alt="recipe-image">
                        <div class="card-block text-center pb-0">
                            <h5 class="card-title mb-1">Jollof Rice and Chicken</h5>
                            <p class="card-text mb-2"><span class="text-muted">Posted by </span><a href="#">@janesmith</a></p>
                        </div>
                        <div class="card-block text-center recipe-details">
                            <p class="card-text text-muted mr-2 inline-p"><i class="aria-hidden fa fa-clock-o"></i> 45 minutes</p>
                            <p class="card-text text-muted mr-0 inline-p"> | </p>
                            <p class="card-text text-muted inline-p"><i class="aria-hidden flaticon flaticon-oven-kitchen-tool-for-cooking-foods"></i> A Bit Difficult</p>
                        </div>
                        <div class="card-footer text-center text-muted px-2 recipe-rating">
                            <p class="card-text text-muted mr-2 inline-p"><i class="aria-hidden fa fa-star"></i> 4.5</p>
                            <p class="card-text text-muted mr-2 inline-p"> | </p>
                            <p class="card-text text-muted mr-2 inline-p"><i class="aria-hidden fa fa-heart"></i> 200</p>
                            <p class="card-text text-muted mr-2 inline-p"> | </p>
                            <p class="card-text text-muted mr-2 inline-p"><i class="text-success aria-hidden fa fa-eye"></i> 350</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mt-4 recipe-card">
                <a href="#">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="src/images/jollof-rice-img.jpg" alt="recipe-image">
                        <div class="card-block text-center pb-0">
                            <h5 class="card-title mb-1">Jollof Rice and Chicken</h5>
                            <p class="card-text mb-2"><span class="text-muted">Posted by </span><a href="#">@janesmith</a></p>
                        </div>
                        <div class="card-block text-center recipe-details">
                            <p class="card-text text-muted mr-2 inline-p"><i class="aria-hidden fa fa-clock-o"></i> 45 minutes</p>
                            <p class="card-text text-muted mr-0 inline-p"> | </p>
                            <p class="card-text text-muted inline-p"><i class="aria-hidden flaticon flaticon-oven-kitchen-tool-for-cooking-foods"></i> A Bit Difficult</p>
                        </div>
                        <div class="card-footer text-center text-muted px-2 recipe-rating">
                            <p class="card-text text-muted mr-2 inline-p"><i class="aria-hidden fa fa-star"></i> 4.5</p>
                            <p class="card-text text-muted mr-2 inline-p"> | </p>
                            <p class="card-text text-muted mr-2 inline-p"><i class="aria-hidden fa fa-heart"></i> 200</p>
                            <p class="card-text text-muted mr-2 inline-p"> | </p>
                            <p class="card-text text-muted mr-2 inline-p"><i class="text-success aria-hidden fa fa-eye"></i> 350</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mt-4 recipe-card">
                <a href="#">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="src/images/jollof-rice-img.jpg" alt="recipe-image">
                        <div class="card-block text-center pb-0">
                            <h5 class="card-title mb-1">Jollof Rice and Chicken</h5>
                            <p class="card-text mb-2"><span class="text-muted">Posted by </span><a href="#">@janesmith</a></p>
                        </div>
                        <div class="card-block text-center recipe-details">
                            <p class="card-text text-muted mr-2 inline-p"><i class="aria-hidden fa fa-clock-o"></i> 45 minutes</p>
                            <p class="card-text text-muted mr-0 inline-p"> | </p>
                            <p class="card-text text-muted inline-p"><i class="aria-hidden flaticon flaticon-oven-kitchen-tool-for-cooking-foods"></i> A Bit Difficult</p>
                        </div>
                        <div class="card-footer text-center text-muted px-2 recipe-rating">
                            <p class="card-text text-muted mr-2 inline-p"><i class="aria-hidden fa fa-star"></i> 4.5</p>
                            <p class="card-text text-muted mr-2 inline-p"> | </p>
                            <p class="card-text text-muted mr-2 inline-p"><i class="aria-hidden fa fa-heart"></i> 200</p>
                            <p class="card-text text-muted mr-2 inline-p"> | </p>
                            <p class="card-text text-muted mr-2 inline-p"><i class="text-success aria-hidden fa fa-eye"></i> 350</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="sticky-bar-wrapper text-center hidden-md-up">
        <div class="container-fluid">
            <div class="row" id="result-search-form-div">
                <div class="col-12 w-100 py-3">
                    <form id="search-form">
                        <div class="input-group">
                            <label class="sr-only" for="search">Search for Recipe</label>
                            <input type="text" class="form-control" id="search" placeholder="Search for More Recipes">
                            <span class="input-group-btn">
                              <button type="submit" class="btn">Submit</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="sticky-bar text-center">
            <a href="#social-modal" class="nav-link d-inline" data-toggle="modal"><i class="fa fa-share-alt fa-lg"></i></a>
            <a class="nav-link d-inline" href="#add-edit-modal" data-toggle="modal" title="New Recipe"><i class="fa fa-plus fa-lg"></i></a>
            <a class="nav-link d-inline" href="#"><i class="fa fa-search fa-lg search-icon"></i></a>
            <a class="nav-link d-inline" href="#" title="Favorite Recipes" data-toggle="dropdown"><i class="fa fa-heart fa-lg"></i></a>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="add-edit-modal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="recipe-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-center" id="dynamic-modal-title">Add Recipe</h3>
                    <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row" id="add-edit-recipe ">
                            <div class="offset-md-1 col-md-10 col-xs-12 col-sm-12 ">
                                <form id="add-recipe" class="add-edit-form row">
                                    <input type="file" class="hidden-xs-up " id="add-edit-image ">
                                    <div class="form-group mt-5 col-12 ">
                                        <label for="recipe-name " class="col-form-label col-form-label-lg ">Recipe Name</label>
                                        <input type="text " class="form-control " id="recipe-name " placeholder="Jollof Rice and Curried Chicken ">
                                    </div>
                                    <div class="recipe-img-div col-12">
                                        <img src="" id="recipe-photo-preview" class="img-fluid">
                                    </div>
                                    <div class="form-group col-12">
                                        <label for="recipe-image" id="dynamic-image-label" class="col-form-label col-form-label-lg "> Change the Recipe Image</label><br>
                                            <label class="custom-file"> 
                                              <input type="file" id="recipe-image" class="recipe-image">
                                              <span class="custom-file-control"></span>
                                            </label>
                                    </div>
                                    <div class="form-group col-12 ingredient-div">
                                        <label for="ingredients" class="col-form-label col-form-label-lg ">Ingredients</label>
                                        <input type="text" class="form-control" id="ingredients" name="ingredients[]" placeholder="1 tbsp of pureed scotch bonnet pepper" required>
                                    </div>
                                    <div class="col-12">
                                        <a class="text-muted mt-2 mb-0" id="add-ingredient"><i class="fa fa-plus"></i> Add Another Ingredient</a>
                                    </div>
                                    <div class="form-group col-12 preparation-div">
                                        <label for="preparations" class="col-form-label col-form-label-lg ">Preparation</label>
                                        <input type="text" class="form-control " id="preparations" name="preparations[]" placeholder="Cut up the chicken ">
                                    </div>
                                    <div class="col-12">
                                        <a class="text-muted mt-2 mb-0" id="add-preparation"><i class="fa fa-plus"></i> Add</a>
                                    </div>
                                    <div class="form-group col-12 direction-div">
                                        <label for="directions" class="col-form-label col-form-label-lg ">Directions</label>
                                        <input type="text" class="form-control " id="directions" name="directions[]" placeholder="Put the spiced chicken in a hot oven for 15 minutes ">
                                    </div>
                                    <div class="col-12">
                                        <a class="text-muted mt-2 mb-0" id="add-direction"><i class="fa fa-plus"></i> Add</a>
                                    </div>
                                    <div class="form-group col-xs-12 col-lg-4 ">
                                        <label for="prep-time " class="col-form-label col-form-label-lg ">Preparation Time</label>
                                        <input type="text " class="form-control " id="prep-time " placeholder="20 Minutes ">
                                    </div>
                                    <div class="form-group col-xs-12 col-lg-4 ">
                                        <label for="cook-time " class="col-form-label col-form-label-lg ">Cooking Time</label>
                                        <input type="text " class="form-control " id="cook-time " placeholder="1 Hour 30 Minutes ">
                                    </div>
                                    <div class="form-group col-xs-12 col-lg-4 ">
                                        <label for="total-time " class="col-form-label col-form-label-lg ">Total Time to Cook</label>
                                        <input type="text " class="form-control " id="total-time " placeholder="1 Hour 50 Minutes ">
                                    </div>
                                    <div class="form-group col-12 ">
                                        <label for="country " class="col-form-label-lg ">Difficulty</label>
                                        <select class="custom-select form-control " id="country ">
                                                <option value="Easy " selected>Easy</option>
                                                <option value="Normal ">Normal</option>
                                                <option value="A Bit Difficult ">A Bit Difficult</option>
                                                <option value="Difficult ">Difficult</option>
                                                <option value="Very Difficult ">Very Difficult</option>
                                            </select>
                                    </div>
                                    <div class="form-group col-12">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                              <input class="form-check-input" type="checkbox" value="">
                                            Suitable For Vegetarians
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-12 ">
                                        <label for="extra-info " class="col-form-label col-form-label-lg ">Extra Information (Allergy Warnings etc)</label>
                                        <textarea class="form-control " id="extra-info " rows="5 " placeholder="Contains Mushrooms "></textarea>
                                    </div>
                                    <div class="form-group col-12 mt-3 ">
                                        <button class="btn btn-success btn-block ">ADD RECIPE</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p>© 2017 More Recipes</p>
        </div>
    </footer>

    <script src="src/assets/jquery.js"></script>
    <script src="src/assets/tether/dist/js/tether.min.js"></script>
    <script src="src/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="src/js/main.js"></script>
</body>

</html>