<!DOCTYPE html>
<html lang="en">

<head>
    <title>More Recipes - View Recipe</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
    <link rel='stylesheet' href="src/assets/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href="src/assets/kitchen-font/flaticon.css">
    <link rel="stylesheet" href="src/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="src/css/style.css">
</head>

<body class="view-recipe background-grey">
    <!-- NAVIGATION -->
    <header>
        <nav class="navbar navbar-toggleable-xl navbar-light bg-faded" data-toggle="affix" id="more-recipes-navbar">
            <a class="navbar-brand hidden-md-down" href="index-user.html">MORE RECIPES</a>
            <a class="navbar-brand hidden-lg-up" id="navbar-brand-right" href="index-user.html">MORE RECIPES</a>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <form class="hidden-sm-down form-inline mx-2 my-auto d-inline" id="search-form">
                    <div class="input-group input-group">
                        <label class="sr-only" for="search">Search for Recipes</label>
                        <input type="text" class="form-control" id="search" placeholder="Search for Recipes">
                        <span class="input-group-btn">
                  <button type="submit" class="btn search-btn"><i class="fa fa-search"></i></button>
                </span>
                    </div>
                </form>
                <ul class="navbar-nav ml-auto">
                    <li class="hidden-xs-down nav-item text-left">
                        <a class="nav-link" href="top-recipes-user.html">TRENDING</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index-user.html"><i class="fa fa-home"></i></a>
                    </li>
                    <li class="nav-item justify-content-start notifications-link">
                        <a class="nav-link" href="#" title="Notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell fa-lg"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="container-fluid">
                                <p>You have a new review</p>
                                <div class="dropdown-divider"></div>
                                <p>3 people viewed your recipe</p>
                                <div class="dropdown-divider"></div>
                                <p>Review your security details</p>
                                <div class="dropdown-divider"></div>
                                <p>Chef Steve just posted a new recipe</p>
                                <div class="dropdown-divider"></div>
                                <p>1 person added your recipe to their favorites</p>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="nav-profile-picture-div rounded-cirle menu-dropdown d-inline">
                            <a class="nav-link " href="#" title="Profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="src/images/user1.jpg" class="rounded-cirle" alt="User"> Jane</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="user-profile.html">Profile</a>
                                <a class="dropdown-item" href="javascript:void(0)">Edit Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="user-profile.html">My Recipes</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)">Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)">Log out</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link menu-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-reorder fa-lg"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item add-recipe" href="#add-edit-modal" data-toggle="modal" title="New Recipe">Add a Recipe</a>
                            <a class="dropdown-item" href="search-recipes-user.html">All Recipes</a>
                            <a class="dropdown-item get-favorites" href="user-profile.html">Favorite Recipes</a>
                            <a class="dropdown-item" href="top-recipes-user.html">Top Recipes</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- CONTENT -->
    <div class="container page-margin" id="recipe-wrapper">
        <div class="recipe-picture-wrapper">
            <div class="image-container">
                <img src="src/images/fish-img.jpg" class="img-fluid">
            </div>
        </div>
        <div class="row px-xs-1 px-sm-2 px-md-2 px-lg-4 px-xl-5" id="recipe-details">
            <div class="col-12 px-5">
                <div class="heading p-5 text-center">
                    <h3>Jollof Rice</h3>
                </div>
                <div class="row" id="recipe-rating">
                    <div class="col-xs-12 col-md-6 col-lg-4 pt-3 pb-1">
                        <p><span class="text-muted">Posted By</span> @janesmith</p>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-8 pt-3 pb-1" id="recipe-rating-info">
                        <p class="text-muted inline-p"><i class="aria-hidden fa fa-star"></i> 4.5 &nbsp; &nbsp;</p>
                        <p class="text-muted inline-p"><i class="aria-hidden fa fa-heart"></i> 200 &nbsp;&nbsp;</p>
                        <p class="text-muted inline-p"><i class="text-success aria-hidden fa fa-eye"></i> 350 &nbsp;&nbsp;</p>
                        <p class="text-muted inline-p"><i class="aria-hidden fa fa-thumbs-down"></i> 3 &nbsp; &nbsp;</p>
                    </div>
                </div>
                <div class="p-xs-1 px-md-5 pt-3" id="recipe-details-div">
                    <div class="row">
                        <div class="col-xs-12 col-md-4 col-lg-4">
                            <h4>Ingredients</h4>
                        </div>
                        <div class="col-xs-12 col-md-8 col-lg-8 mr-0 pb-1" id="recipe-details-info">
                            <p class="inline-p text-muted"><i class="aria-hidden fa fa-clock-o fa-lg"></i> 45 Minutes<span class="hidden-sm-down">  |</span></p>
                            <p class="inline-p text-muted"><i class="aria-hidden flaticon flaticon-oven-kitchen-tool-for-cooking-foods"></i> Normal</p>
                        </div>
                    </div>
                    <hr>
                    <div class="text-justify" id="ingredient-list">
                        <p class="mb-3"> 3 cigar cups | 750g long grain parboiled rice</p>
                        <p class="mb-3"> Tomato Stew 500 mls</p>
                        <p class="mb-3"> Chicken (whole chicken, drumsticks or chicken breast)</p>
                        <p class="mb-3"> Pepper and salt (to taste)</p>
                        <p class="mb-3"> 2 medium onions</p>
                        <p class="mb-3"> 3 Knorr cubes</p>
                        <p class="mb-3"> 2 teaspoons thyme</p>
                        <p class="mb-3"> 2 teaspoons curry powder (Nigerian curry powder)</p>
                    </div>
                </div>
                <div class="p-xs-1 px-md-5 pt-3">
                    <div class="row">
                        <div class="col-xs-12 col-md-4 col-lg-4">
                            <h4>Preparation</h4>
                        </div>
                        <div class="col-xs-12 col-md-8 col-lg-8 mr-0 pb-1" id="recipe-prep-info">
                            <p class="inline-p text-muted"><i class="aria-hidden fa fa-clock-o fa-lg"></i> 20 Minutes</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row px-4" id="preparation">
                        <div class="text-justify">
                            <p class="mb-3"> Prepare the tomato stew. Visit the Tomato Stew page for details on how to do that. It is advisable to prepare tomato stew before hand and keep in the freezer. This is so that whenever you want to cook any jollof rice related dish,
                            it is just a matter of adding it to your cooking.</p>
                            <p class="mb-3"> If you will use whole chicken then wash and cut it into pieces. Cook with the thyme, Knorr cubes and 2 bulbs of onions (chopped). The cooking time depends on the type of chicken. The rooster or cockerel cooks much faster than the
                            hen but the hen is definitely tastier. When done, grill it in an oven. You may also fry it. This is to give it a golden look which is more presentable especially if you have guests for dinner.</p>
                            <p class="mb-3"> Parboil the rice using the method detailed in parboiling rice for cooking jollof rice. Rinse the parboiled rice and put in a sieve to drain.</p>
                        </div>
                    </div>
                </div>
                <div class="p-xs-1 px-md-5 pt-3">
                    <div class="row">
                        <div class="col-xs-12 col-md-4 col-lg-4">
                            <h4>Cooking Directions</h4>
                        </div>
                        <div class="col-xs-12 col-md-8 col-lg-8 mr-0 pb-1 mr-0 text-right" id="recipe-cooking-directions-info">
                            <p class="inline-p text-muted"><i class="aria-hidden fa fa-clock-o"></i> 20 Minutes <span class="hidden-sm-down"> |</span></p>
                            <p class="inline-p text-muted"><i class="aria-hidden fa fa-clock-o"></i> Ready - 45 Minutes</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-5 px-4" id="cooking-directions">
                        <div class="text-justify">
                            <p class="mb-3"> Pour the chicken stock and the tomato stew into a sizeable pot and leave to boil.</p>
                            <p class="mb-3"> Add the drained parboiled rice, curry powder, salt and pepper to taste. The water level should be the same level of the rice. This is to ensure that all the water dries up by the time the rice is cooked.</p>
                            <p class="mb-3"> Cover the pot and leave to cook on low to medium heat. This way the rice does not burn before the water dries up.</p>
                            <p class="mb-3"> Keep cooking till done</p>
                        </div>
                    </div>
                </div>
                <div class="pt-3 pb-1 row align-items-center" id="call-to-action">
                    <a href="#review-wrapper" data-toggle="collapse" data-target="#review-wrapper" aria-expanded="false" aria-controls="review-wrapper" class="review"><i class="fa fa-star-o fa-lg"></i> <p class="hidden-md-down">Review</p></a>
                    <a href="javascript:void(0)" class="favorite"><i class="fa fa-heart-o fa-lg"></i> <p class="hidden-md-down">Favorite It</p></a>
                    <a href="javascript:void(0)" class="upvote"><i class="fa fa-thumbs-o-up fa-lg"></i> <p class="hidden-md-down">Upvote</p></a>
                    <a href="javascript:void(0)" class="downvote"><i class="fa fa-thumbs-o-down fa-lg"></i> <p class="hidden-md-down">Downvote</p></a>
                </div>
                <div class="collapse my-3" id="review-wrapper">
                    <div class="" id="review-div">
                        <div class="card card-block px-md-5 px-sm-3">
                            <h5>Review this Recipe</h5>
                            <form class="review-form">
                                <p class="section-rating-title mt-3" id="rating col-xs-12 ">
                                    <label class="section-rating-label" title="Bad">
                                        <i class="fa fa-star-o" id="star1"></i>
                                        <input name="section_rating" class="section_rating" value="1" required type="radio">
                                    </label>
                                    <label class="section-rating-label" title="Okay">
                                        <i class="fa fa-star-o" id="star2"></i>
                                        <input name="section_rating" class="section_rating" value="2" required type="radio">
                                    </label>
                                    <label class="section-rating-label" title="Good">
                                        <i class="fa fa-star-o" id="star3"></i>
                                        <input name="section_rating" class="section_rating" value="3" required type="radio">
                                    </label>
                                    <label class="section-rating-label" title="Very Good">
                                        <i class="fa fa-star-o" id="star4"></i>
                                        <input name="section_rating" class="section_rating" value="4" required type="radio">
                                    </label>
                                    <label class="section-rating-label" title="Excellent">
                                        <i class="fa fa-star-o" id="star5"></i>
                                        <input name="section_rating" class="section_rating" value="5" required type="radio">
                                    </label>
                                    <span class="section-rating-text"></span>
                                </p>
                                <div class="form-group">
                                    <label for="review-comment" class="col-form-label col-form-label-lg mb-3">Add a Comment:</label>
                                    <textarea class="form-control" id="review-comment" rows="5" placeholder="I love this recipe..."></textarea>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn">Add Your Review</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="py-5 p-xs-1 p-md-5" id="reviews">
                    <div class="col-12">
                        <h4>Reviews</h4>
                        <hr>
                    </div>
                    <div class="px-5 pb-5 review-heading">
                        <div class="row">
                            <div class="col-4 rounded-circle text-left">
                                <img src="src/images/user3.jpg" alt="user picture" class="review-picture">
                            </div>
                            <div class="col-8 mr-0 text-right">
                                <p class="">Jane Smithy</p>
                                <p class="inline-p text-muted pl-0"><i class="aria-hidden flaticon flaticon-chef-hat-with-cutlery-restaurant-symbol"></i> 20</p>
                                <p class="inline-p text-muted"> | </p>
                                <p class="inline-p text-muted"><i class="aria-hidden fa fa-heart"></i> 50</p>
                            </div>
                        </div>
                        <hr>
                        <p class="mt-3 mb-2 user-rating-wrapper"><span id="user-rating"><i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span></p>
                        <p>Really Loved the Recipe</p>
                    </div>
                    <div class="px-5 pb-5 review-heading">
                        <div class="row">
                            <div class="col-4 rounded-circle text-left">
                                <img src="src/images/user2.jpg" alt="user picture" class="review-picture">
                            </div>
                            <div class="col-8 mr-0 text-right">
                                <p class="">Jane Smithy</p>
                                <p class="inline-p text-muted pl-0"><i class="aria-hidden flaticon flaticon-chef-hat-with-cutlery-restaurant-symbol"></i> 20</p>
                                <p class="inline-p text-muted"> | </p>
                                <p class="inline-p text-muted"><i class="aria-hidden fa fa-heart"></i> 50</p>
                            </div>
                        </div>
                        <hr>
                        <p class="mt-3 mb-2 user-rating-wrapper"><span id="user-rating"><i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span></p>
                        <p>Really Loved the Recipe</p>
                    </div>
                </div>
                <div class="alert alert-success notif hide" id="favorited" role="alert">
                    Added to Favorites!
                </div>
                <div class="alert alert-success notif hide" id="upvoted" role="alert">
                    Upvoted!
                </div>
                <div class="alert alert-success notif hide" id="downvoted" role="alert">
                    Downvoted!
                </div>
                <div class="alert alert-success notif hide" id="reviewed" role="alert">
                    Review Added Succesfully!
                </div>
            </div>
        </div>
        <div class="hidden-sm-down align-self-center" id="side-rating-toolbar">
            <p><a href="#add-edit-modal" data-toggle="modal" class="add-recipe"><i class="fa fa-lg fa-plus"></i></a></p>
            <p><a href="javascript:void(0)" class="favorite"><i class="fa fa-lg fa-heart-o"></i></a></p>
            <p><a href="javascript:void(0)" class="upvote"><i class="fa fa-lg fa-thumbs-o-up"></i></a></p>
            <p><a href="javascript:void(0)" class="downvote"><i class="fa fa-lg fa-thumbs-o-down"></i></a></p>
            <p><a href="#social-modal" data-toggle="modal" class="share"><i class="fa fa-lg fa-share-alt"></i></a></p>
        </div>
    </div>
    <div class="sticky-bar-wrapper text-center hidden-md-up">
        <div class="container-fluid">
            <div class="row" id="result-search-form-div">
                <div class="col-12 w-100 py-3">
                    <form id="search-form">
                        <div class="input-group">
                            <label class="sr-only" for="search">Search for Recipe</label>
                            <input type="text" class="form-control" id="search" placeholder="Search for More Recipes">
                            <span class="input-group-btn">
                              <button type="submit" class="btn">Submit</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="sticky-bar text-center hidden-md-up">
            <a href="#social-modal" class="nav-link d-inline" data-toggle="modal"><i class="fa fa-share-alt fa-lg"></i></a>
            <a class="nav-link d-inline" href="#add-edit-modal" data-toggle="modal" title="New Recipe"><i class="fa fa-plus fa-lg"></i></a>
            <a class="nav-link d-inline favorite" href="#" title="Favorite" aria-haspopup="true" aria-expanded="false"><i class="fa fa-heart-o fa-lg"></i></a>
            <a class="nav-link d-inline upvote" href="#" title="Upvote" aria-haspopup="true" aria-expanded="false"><i class="fa fa-thumbs-o-up fa-lg"></i></a>
            <a class="nav-link d-inline downvote" href="#" title="Downvote" aria-haspopup="true" aria-expanded="false"><i class="fa fa-thumbs-o-down fa-lg"></i></a>
            <a class="nav-link d-inline" href="#"><i class="fa fa-search fa-lg search-icon"></i></a>
        </div>
    </div>
    <!-- Modals -->
    <div class="modal fade" id="add-edit-modal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="recipe-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-center" id="dynamic-modal-title">Add Recipe</h3>
                    <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row" id="add-edit-recipe ">
                            <div class="offset-md-1 col-md-10 col-xs-12 col-sm-12 ">
                                <form id="add-recipe" class="add-edit-form row">
                                    <input type="file" class="hidden-xs-up " id="add-edit-image ">
                                    <div class="form-group mt-5 col-12 ">
                                        <label for="recipe-name " class="col-form-label col-form-label-lg ">Recipe Name</label>
                                        <input type="text " class="form-control " id="recipe-name " placeholder="Jollof Rice and Curried Chicken ">
                                    </div>
                                    <div class="recipe-img-div col-12">
                                        <img src="" id="recipe-photo-preview" class="img-fluid">
                                    </div>
                                    <div class="form-group col-12">
                                        <label for="recipe-image" id="dynamic-image-label" class="col-form-label col-form-label-lg "> Change the Recipe Image</label><br>
                                            <label class="custom-file"> 
                                              <input type="file" id="recipe-image" class="recipe-image">
                                              <span class="custom-file-control"></span>
                                            </label>
                                    </div>
                                    <div class="form-group col-12 ingredient-div">
                                        <label for="ingredients" class="col-form-label col-form-label-lg ">Ingredients</label>
                                        <input type="text" class="form-control" id="ingredients" name="ingredients[]" placeholder="1 tbsp of pureed scotch bonnet pepper" required>
                                    </div>
                                    <div class="col-12">
                                        <a class="text-muted mt-2 mb-0" id="add-ingredient"><i class="fa fa-plus"></i> Add Another Ingredient</a>
                                    </div>
                                    <div class="form-group col-12 preparation-div">
                                        <label for="preparations" class="col-form-label col-form-label-lg ">Preparation</label>
                                        <input type="text" class="form-control " id="preparations" name="preparations[]" placeholder="Cut up the chicken ">
                                    </div>
                                    <div class="col-12">
                                        <a class="text-muted mt-2 mb-0" id="add-preparation"><i class="fa fa-plus"></i> Add</a>
                                    </div>
                                    <div class="form-group col-12 direction-div">
                                        <label for="directions" class="col-form-label col-form-label-lg ">Directions</label>
                                        <input type="text" class="form-control " id="directions" name="directions[]" placeholder="Put the spiced chicken in a hot oven for 15 minutes ">
                                    </div>
                                    <div class="col-12">
                                        <a class="text-muted mt-2 mb-0" id="add-direction"><i class="fa fa-plus"></i> Add</a>
                                    </div>
                                    <div class="form-group col-xs-12 col-lg-4 ">
                                        <label for="prep-time " class="col-form-label col-form-label-lg ">Preparation Time</label>
                                        <input type="text " class="form-control " id="prep-time " placeholder="20 Minutes ">
                                    </div>
                                    <div class="form-group col-xs-12 col-lg-4 ">
                                        <label for="cook-time " class="col-form-label col-form-label-lg ">Cooking Time</label>
                                        <input type="text " class="form-control " id="cook-time " placeholder="1 Hour 30 Minutes ">
                                    </div>
                                    <div class="form-group col-xs-12 col-lg-4 ">
                                        <label for="total-time " class="col-form-label col-form-label-lg ">Total Time to Cook</label>
                                        <input type="text " class="form-control " id="total-time " placeholder="1 Hour 50 Minutes ">
                                    </div>
                                    <div class="form-group col-12 ">
                                        <label for="country " class="col-form-label-lg ">Difficulty</label>
                                        <select class="custom-select form-control " id="country ">
                                                <option value="Easy " selected>Easy</option>
                                                <option value="Normal ">Normal</option>
                                                <option value="A Bit Difficult ">A Bit Difficult</option>
                                                <option value="Difficult ">Difficult</option>
                                                <option value="Very Difficult ">Very Difficult</option>
                                            </select>
                                    </div>
                                    <div class="form-group col-12">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                              <input class="form-check-input" type="checkbox" value="">
                                            Suitable For Vegetarians
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-12 ">
                                        <label for="extra-info " class="col-form-label col-form-label-lg ">Extra Information (Allergy Warnings etc)</label>
                                        <textarea class="form-control " id="extra-info " rows="5 " placeholder="Contains Mushrooms "></textarea>
                                    </div>
                                    <div class="form-group col-12 mt-3 ">
                                        <button class="btn btn-success btn-block ">ADD RECIPE</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="social-modal" tabindex="-1" role="dialog" aria-labelledby="signin-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-center" id="social-modal">Share this Recipe</h3>
                    <button type="button" class="close ml-auto main-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center py-5">
                    <div class="mb-5 container">
                        <div class="row ">
                            <div class="col-4">
                                <p><i class="fa fa-facebook fa-2x"></i></p>
                                <p>Facebook</p>
                            </div>
                            <div class="col-4">
                                <p><i class="fa fa-pinterest fa-2x"></i></p>
                                <p>Pinterest</p>
                            </div>
                            <div class="col-4">
                                <p><i class="fa fa-twitter fa-2x"></i></p>
                                <p>Twitter</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p>© 2017 More Recipes</p>
        </div>
    </footer>

    <script src="src/assets/jquery.js"></script>
    <script src="src/assets/tether/dist/js/tether.min.js"></script>
    <script src="src/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="src/js/main.js"></script>
    <script>
        function scrollFunction() {
            if (document.body.scrollTop > 450 || document.documentElement.scrollTop > 450) {
                document.getElementById("side-rating-toolbar").style.display = "block";
            } else {
                document.getElementById("side-rating-toolbar").style.display = "none";
            }
        }
        
        window.onscroll = function() { scrollFunction() };
    </script>
</body>

</html>