@import '../../../assets/scss/modules';

.loader {
  &-hidden {
    display: none;
  }
  
  &-active {
    display: block;
  }

  .ball-beat > div {
    background-color: $light-green;
  }

  .ball-scale-multiple {
    margin: 30vh 0 25vh 46vw;
    height: 11vh;
    width: 11vh;

    & > div {
      left: 0;
    }
  }
}