.coveralls.yml
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.prettierignore
.gitattributes
.nyc_output
.vscode
client/build
client/public/images/
coverage
node_modules
server/build
stray_scripts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
