@import '../../../assets/scss/modules.scss';

#add-edit-modal {
  .modal-header {
    border-bottom: 0 solid #e9ecef;
  }
}

#dynamic-modal-title {
  text-transform: capitalize;
}

.show-preloader {
  padding: 10vh auto;

  .hide-close-btn {
    .close {
      display: none;
    }
  }
}
