@import '../../../assets/scss/modules';

.sticky-bar-wrapper {
  bottom: 0;
  color: $white;
  position: fixed;
  width: 100%;
}

.sticky-bar {
  background-color: $white;
  // bottom: 0;
  color: $light-green;
  // height: 6rem;
  padding: 1rem 0;
  width: 100%;

  i,
  span {
    color: $light-green;
  }
}

.home {
  .sticky-bar {
    div {
      padding-right: 2.5em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 1em;
      }
    }
  }
}

.user-profile {
  .sticky-bar {
    div {
      padding-right: 2.5em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 1em;
      }
    }
  }
}

.favorite-recipes {
  .sticky-bar {
    div {
      padding-right: 2.5em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 1em;
      }
    }
  }
}

.user-recipe {
  .sticky-bar {
    div {
      padding-right: 2.5em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 1em;
      }
    }
  }
}

.top-recipes {
  .sticky-bar {
    div {
      padding-right: 2.5em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 1em;
      }
    }
  }
}

.search-recipes {
  .sticky-bar {
    div {
      padding-right: 2.5em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 1em;
      }
    }
  }
}

.view-recipe {
  .sticky-bar {
    div {
      padding-right: 1.5em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0.5em;
      }
    }
  }
}

@media only screen and (max-width: 768px) and (min-width: 576px) {
  .home {
    .sticky-bar {
      div {
        padding-right: 7em;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 1em;
        }
      }
    }
  }

  .user-profile {
    .sticky-bar {
      div {
        padding-right: 7em;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 1em;
        }
      }
    }
  }

  .favorite-recipes {
    .sticky-bar {
      div {
        padding-right: 7em;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 1em;
        }
      }
    }
  }

  .user-recipe {
    .sticky-bar {
      div {
        padding-right: 7em;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 1em;
        }
      }
    }
  }

  .top-recipes {
    .sticky-bar {
      div {
        padding-right: 7em;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 1em;
        }
      }
    }
  }

  .search-recipes {
    .sticky-bar {
      div {
        padding-right: 7em;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 1em;
        }
      }
    }
  }

  .view-recipe {
    .sticky-bar {
      div {
        padding-right: 4.2em;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0.2em;
        }
      }
    }
  }
}

@media only screen and (max-width: 575px) and (min-width: 450px) {
  .search-recipes {
    .sticky-bar {
      div {
        padding-right: 5em;

        &:first-child {
          padding-left: 2em;
        }

        &:last-child {
          padding-right: 2em;
        }
      }
    }
  }

  .home {
    .sticky-bar {
      div {
        padding-right: 5em;

        &:first-child {
          padding-left: 2em;
        }

        &:last-child {
          padding-right: 2em;
        }
      }
    }
  }

  .user-profile {
    .sticky-bar {
      div {
        padding-right: 5em;

        &:first-child {
          padding-left: 2em;
        }

        &:last-child {
          padding-right: 2em;
        }
      }
    }
  }

  .favorite-recipes {
    .sticky-bar {
      div {
        padding-right: 5em;

        &:first-child {
          padding-left: 2em;
        }

        &:last-child {
          padding-right: 2em;
        }
      }
    }
  }

  .user-recipe {
    .sticky-bar {
      div {
        padding-right: 5em;

        &:first-child {
          padding-left: 2em;
        }

        &:last-child {
          padding-right: 2em;
        }
      }
    }
  }

  .top-recipes {
    .sticky-bar {
      div {
        padding-right: 5em;

        &:first-child {
          padding-left: 2em;
        }

        &:last-child {
          padding-right: 2em;
        }
      }
    }
  }

  .view-recipe {
    .sticky-bar {
      div {
        padding-right: 2em;

        &:first-child {
          padding-left: 0.5em;
        }

        &:last-child {
          padding-right: 0.5em;
        }
      }
    }
  }
}

#result-search-form-div {
  background-color: $transparent-light;

  #search-form {
    #search {
      border: 1px solid $light-green !important;
    }

    .input-group-btn {
      button {
        background-color: $light-green !important;
        border-color: $light-green !important;
        color: $white !important;
      }
    }
  }
}