@import '../../assets/scss/modules';
@import '~bootstrap/scss/bootstrap';
// sass-lint:disable-block indentation
body {
  &:not(.user-profile) {
    background: $background-gradient, url('../../assets/images/background.jpg') $app-background-color no-repeat fixed;
    background-size: cover;
    margin: 0;
  }
}

a,
.text-green {
  color: $light-green;
}

a {
  &:hover,
  &:focus,
  &:active,
  &.active {
    border: 0;
    box-shadow: none;
    color: $green;
    cursor: pointer;
    outline: none;
    transition: color 0.5s;
  }

  &.dropdown-item {
    &:hover,
    &:focus,
    &:active,
    &.active {
      border: 0;
      background-color: $gray-100;
      box-shadow: none;
      color: $green;
      cursor: pointer;
      outline: none;
      transition: color 0.5s;
    }
  }
}

h4 {
  font-weight: 400;
}

input {
  &:hover,
  &:focus,
  &:active {
    border: 1px solid $light-green;
    outline: none;
    transition: border 0.5s;
  }
}

select {
  &:hover,
  &:focus,
  &:active {
    border: 1px solid $light-green;
    outline: none;
    transition: border 0.5s;
  }
}

form {
  small {
    font-size: 1.05em;
  }
  &-control {
    &:focus {
      border-color: $green;
      box-shadow: $form-box-shadow;
    }
  }
}

.breadcrumb {
  li {
    a {
      color: $navbar-grey;
    }
    &:hover,
    &:focus,
    &:active {
      color: $green;
      transition: color 0.5s;
    }
  }
}

.background-grey {
  background-color: $background-grey;
}

.fa-star,
.fa-star-o {
  color: $fa-gold;
}

.fa-heart,
.fa-heart-o {
  color: $red;
}

.fa-thumbs-up,
.fa-thumbs-o-up {
  color: $fa-gold;
}

.fa-thumbs-down,
.fa-thumbs-o-down {
  color: $navbar-grey;
}

.fa-facebook {
  color: $facebook;
}

.fa-twitter {
  color: $twitter;
}

.fa-pinterest {
  color: $red;
}

.fa-home {
  font-size: 1.5rem;
}

#side-rating-toolbar p i {
  cursor: pointer;
}

.inline-p, .inline-li {
  display: inline !important;
  vertical-align: middle;
}

.btn {
  &:not(.btn-danger) {
    background-color: $light-green;
    border: 1px solid $light-green;
    border-radius: 3px;

    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $green;
      border: 1px solid $green;
      color: $white;
      transition: background-color 0.5s;
    }
  }

  &.btn-outline {
    background-color: $white;
    border: 1px solid $green;
    color: $green;
  }

  &.next-previous-btn {
    font-size: 1.2em;
    font-weight: 400;
  }

  &:hover,
  &:focus {
    cursor: pointer;
  }

  li {
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $green;
      border: 1px solid $green;
      color: $white;
      transition: background-color 0.5s;
    }
  }
}

#search {
  border: 1px solid $white;
  border-bottom-left-radius: 5px;
  border-right: 0;
  border-top-left-radius: 5px;
  box-shadow: 0;
  &:focus,
  &:active {
    border-right: 0;
    box-shadow: 0;
  }
}

.search-btn {
  background-color: $white !important;
  border: 1px solid $white !important;
  box-shadow: none !important;
  color: $light-green !important;
  outline: none !important;
  &:hover,
  &:focus,
  &:active {
    border-left: 0;
    color: $green !important;
    cursor: pointer !important;
    transition: color 0.5s;
  }
}

.preview-img-div {
  padding-left: 0;
  padding-right: 0;
}

.photo-preview {
  max-height: 20rem;
  width: 60%;
}

.file-feedback {
  color: $danger-red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

// TABS-TOGGLE
.profile-toggle-wrapper {
  border-bottom: 1px solid $recipe-card-grey;

  a {
    font-size: 1.2rem;
    margin-bottom: 0;
    padding-bottom: 0.55rem;
    text-transform: uppercase;
    color: $darkgrey;
    cursor: pointer;

    &.active,
    &:active,
    &:hover,
    &:focus {
      color: $darkgrey;
      text-decoration: none;
      border-bottom: 1.5px solid $green;
    }

    &.back-link {
      margin-right: 1.5rem;
    }

    &.recipes-tab {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &.favorites-tab,
    &.categories-tab {
      margin-left: 1.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    i {
      color: $darkgrey;

      &.fa-heart {
        font-size: 1.4rem;
      }

      &.flaticon:before {
        font-size: 2.3rem;
        margin-left: 0;
      }
    }
  }
}

.close {
  outline: none !important;

  &:hover,
  &:focus,
  &.active {
    outline: none !important;
  }
}

.input-group .form-control {
  margin: 0px !important;
}

// Card Form

.card-form-body {
  &.signup-body {
    margin-top: -30px;
  }

  #card-form-wrapper {
    background-color: $white;
    border: 1px solid $white;
    border-radius: 0.5rem;
    height: auto;
    margin-bottom: 6rem;
  }

  a.next-previous-a {
    // font-size: 1em;
    color: $green;

    &:hover,
    &:focus,
    &.active {
      text-decoration: none;
      font-size: 1.04em;
      transition: font-size 0.2s;
    }
  }

  // form {
  //   button {
  //     margin-top: 2.5rem;
  //   }
  // }
}

.show {
  opacity: 1 !important;
}

@media only screen and (min-width: 1200px) {
  #card-form-wrapper {
    margin-left: 15rem;
    margin-right: 15rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #card-form-wrapper {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

@media only screen and (min-width: 453px) and (max-width: 575px) {
  #card-form-wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 452px) {
  #card-form-wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
