@import '../../../assets/scss/modules';

.recipe-card {
  .card {
    box-shadow: $recipe-card-shadow;
  }

  a, p, small:not(.text-muted) {
    color: initial;
    text-decoration: none;
  }

  &:hover {
    transform: scale(1.025) 0.5s;
  }

  .recipe-details {
    border-bottom: 1px solid $recipe-card-grey;
    border-top: 1px solid $recipe-card-grey;
    padding: 0.5rem 1rem;
  }

  .card-image {
    border: 0;
  }

  .card-image-overlay {
    padding-top: 17%;
    background-color: $transparent-middle;
  }

  img {
    width: 100% !important;
    height: 150px !important;
  }
}

.category-card {
  .card {
    box-shadow: $recipe-card-shadow;
  }

  a, p, small:not(.text-muted) {
    color: initial;
    text-decoration: none;
  }

  &:hover {
    transform: scale(1.025) 0.5s;
  }
}

.user-profile-cards {
  .card {
    box-shadow: $recipe-card-shadow;
  }
}

.dropdown-menu {
  box-shadow: $recipe-card-shadow;
}
