@import '../../../assets/scss/modules';

.recipe-card {
  .card {
    box-shadow: $recipe-card-shadow;
  }

  a {
    color: initial;
    text-decoration: none;
  }

  &:hover {
    .card {
      transform: scale(1.025);
    }
  }

  .recipe-details {
    border-bottom: 1px solid $recipe-card-grey;
    border-top: 1px solid $recipe-card-grey;
    padding: 0.5rem 1rem;
  }

  .recipe-tags {
    p {
      background-color: $recipe-tags-green;
      border: 1px solid $recipe-tags-green;
      border-radius: 0.2rem;
      // color: $navbar-grey
      color: $white;
      margin-right: 0.3rem;
      padding: 0.05rem 0.2rem;
    }
  }

  img {
    width: 100% !important;
  }
}

.category-card {
  .card {
    box-shadow: $recipe-card-shadow;
  }

  a {
    color: initial;
    text-decoration: none;
  }

  &:hover {
    .card {
      transform: scale(1.025);
    }
  }
}

.user-profile-cards {
  .card {
    box-shadow: $recipe-card-shadow;
  }
}

.dropdown-menu {
  box-shadow: $recipe-card-shadow;
}
