@import '../../../assets/scss/_modules.scss';

.navbar-brand {
  color: white !important;
}

#more-recipes-navbar {
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
  padding: 1rem 1rem;
  width: 100%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  #navbar-right {
    float: right;
  }
}

#result-search-form-div {
  display: none;
  background-color: rgba(255, 255, 255, 0.5);

  #search-form {
    #search {
      border: 1px solid $light-green !important;
    }

    .input-group-btn button {
      color: #fff;
      background-color: $light-green;
      border-color: $light-green;
    }
  }
}

.input-group.blur {
  z-index: -1 !important;
}

.search-icon a {
  padding: 0.46rem 0.5rem 0 0;

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    color: $green !important;
    text-decoration: none;
  }
}

@media only screen and (min-width: 1200px) {
  #more-recipes-navbar #search-form {
    width: 70%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #more-recipes-navbar #search-form {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #more-recipes-navbar #search-form {
    width: 50%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  #more-recipes-navbar {
    #search-form {
      display: none !important;
    }

    .search-icon a {
      color: white !important;

      /*padding: 0.5rem 1rem 0 0 ;*/
    }
  }
}

@media only screen and (max-width: 575px) {
  #more-recipes-navbar #search-form {
    display: none;
  }
}

.navbar {
  a.nav-link {
    color: white !important;
  }

  .dropdown-menu {
    position: absolute !important;
    right: 0% !important;
  }

  .btn {
    border: 1px solid white;
    background-color: transparent;
    outline: none;
    color: white;

    &:hover,
    &:focus,
    &:active {
      color: white;
      border: 1px solid $green;
      background-color: $green;
    }
  }

  .fa-heart {
    color: white;
  }

  li.active a {
    /*color: #1B5E20;*/
    border-bottom: 2px solid white !important;
  }
}

/*Navbaar on scroll*/

.affix {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

  #search {
    border: 1px solid $grey !important;
    border-right: none !important;
    box-shadow: none !important;
  }

  button {
    border: 1px solid $grey !important;
    background-color: transparent;
    outline: none;
    color: #555 !important;
  }

  .search-btn {
    border: 1px solid $grey !important;
    border-left: none !important;
    box-shadow: none !important;
    color: $light-green !important;
  }

  &.navbar li.active a {
    /*color: #1B5E20;*/
    border-bottom: 2px solid $darkgrey !important;
  }
}

#more-recipes-navbar.affix {
  background-color: white;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);

  .nav-item > a,
  &.navbar a.nav-link,
  .navbar-brand,
  .fa-heart {
    color: $darkgrey !important;
  }
}

.nav-profile-picture-div {
  height: 2rem;
  width: 2rem;
  text-transform: capitalize;
  border-radius: 50%;

  /*margin-top: -0.06rem;*/

  img {
    height: 2rem;
    width: 2rem;
    text-transform: capitalize;
    border-radius: 50%;
    margin-top: -0.3rem;
  }
}

.nav-profile-picture-div .dropdown-menu {
  width: 20%;
}

.notifications-link .dropdown-menu {
  width: 40% !important;
  left: 58% !important;
}
